<div class="debug cf">
  <ul class="list dt">
    <li class="dtc">aaaaaaaaaa</li>
    <li class="dtc">aaaaaaaaaa</li>
    <li class="dtc">aaaaaaaaaa</li>
  </ul>
</div>
<div class="layout-container">
  <header role="banner" class="debug debug-grid">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <div class="container flex">
      {% if page.sidebar_first %}
      <aside class="layout-sidebar-first w-25" role="complementary">
        {{ page.sidebar_first }}
      </aside>
      {% endif %}

      <div class="layout-content w-50">
        {{ page.content }}
      </div>{# /.layout-content #}


      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second w-25" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
